<!DOCTYPE html>
<html lang="" >
<head>
    <link href="css.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>

    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="home.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

<style>
    fieldset{
        border :1px solid grey;
        padding:10px 10px 10px 10px;
    }

</style>

</head>
<body data-ng-app="Food" >

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fitnessdiary</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <p style = "color:blue;font-size:15px;font-weight: 300; padding-top:15px;padding-right: 10px;">Hi Brahmani </P>
                </li>

                <li ><a href="#" onclick="move()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="tab">
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'London')">My Profile</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'lunch')">Food</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Tokyo')">Exercise</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Recepie')">Recepie Search</a>
    <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'GYM')">Gym Finder</a>
</div>

<div id="London" class="tabcontent">
    <h3></h3>
    <p>Welcome to Fitness diary</p>

</div>

<div id="lunch" class="tabcontent" data-ng-controller="FoodCalorie">
    <center>
        <div>
            <h2 style="color:#428bca;" >Consumed Calories &nbsp;{{calories+calories1+calories2+calories3}}</h2>
        </div>
        <div  class="panel panel-primary" style="width:800px;">

            <div class="panel-heading">
                <h3 class="panel-title">BreakFast</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <input type="text" class="form-control" name="search" placeholder="Add Breakfast.." data-ng-model="search"/>
                    <button name="search" class="btn btn-primary" data-ng-click="getNutrition()">Get Calories</button>
                </div>
            </div>
            <table class="table table-bordred table-striped" class="table table-hover" id="dev-table">
                <tr>
                    <td class="info">calories:{{calories}}</td>
                </tr>
                <tr>
                    <td>calories from fat:{{nf_calories_from_fat}}</td>
                </tr>
                <tr>
                    <td class="info">total fat:{{nf_total_fat}}</td>
                </tr>

            </table>

    </div>

            <div  class="panel panel-primary" style="width:800px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lunch</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <input type="text" class="form-control" name="search1" placeholder="Add Lunch.." data-ng-model="search1"/>
                            <button name="search1" class="btn btn-primary" data-ng-click="getNutrition1()">Get Calories</button>
                        </div>
                    </div>
                    <table class="table table-bordred table-striped" class="table table-hover">
                        <tr>
                            <td class="info">calories:{{calories1}}</td>
                        </tr>
                        <tr>
                            <td>calories from fat:{{calories_from_fat1}}</td>
                        </tr>
                        <tr>
                            <td class="info">total fat:{{total_fat1}}</td>
                        </tr>

                    </table>
                </div>
                    <div  class="panel panel-primary" style="width:800px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Snacks</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">
                                    <input type="text" class="form-control" name="search2" placeholder="Add Snacks.." data-ng-model="search2"/>
                                    <button name="search2" class="btn btn-primary" data-ng-click="getNutrition2()">Get Calories</button>
                                </div>
                            </div>
                            <table class="table table-bordred table-striped" class="table table-hover" >
                                <tr>
                                    <td class="info">calories:{{calories2}}</td>
                                </tr>
                                <tr>
                                    <td>calories from fat:{{calories_from_fat2}}</td>
                                </tr>
                                <tr>
                                    <td class="info">total fat:{{total_fat2}}</td>
                                </tr>

                            </table>
                    </div>

            <div  class="panel panel-primary" style="width:800px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dinner</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <input type="text" class="form-control" name="search3" placeholder="Dinner.." data-ng-model="search3"/>
                            <button name="search3" class="btn btn-primary" data-ng-click="getNutrition3()">Get Calories</button>
                        </div>
                    </div>
                    <table class="table table-bordred table-striped" class="table table-hover" >
                        <tr>
                            <td class="info">calories:{{calories3}}</td>
                        </tr>
                        <tr>
                            <td>calories from fat:{{calories_from_fat3}}</td>
                        </tr>
                        <tr>
                            <td class="info">total fat:{{total_fat3}}</td>
                        </tr>

                    </table>
                </div>
        <div>
            <button name="search4" class="btn btn-primary" data-ng-click="OpenPopupCenter('popup.html', 'TEST!?', 600, 400);">GetNutrition</button>

        </div>

</Center>
</div>

<div id="Tokyo" class="tabcontent" data-ng-controller="FoodCalorie">
    <form id="workout-form" style="width:75%;padding-bottom:20px;padding-left:300px;padding-top:80px;">
        <fieldset class="units" style="border-bottom-width:0px;background-color:#428bca;" >
            <div>
            <span style="color:white;font-size:22px;">
                <strong >calorie calculator</strong>
            </span>
            </div>
        </fieldset>
        <fieldset class="personal-details"style="border-bottom-width:0px;">
            <div class="row">
                <span class="one" style="padding-left:12px;">
                    <strong><span style="color:red">*</span>weight</strong>
                    <input type="number" min="1" max="700" id=m1 required>
                    <abbr id="weight-abbr" name="pounds">lbs</abbr>
                </span>
                <span class="two" style="padding-left:1em">
                    <strong><span style="color:red">*</span>height</strong>
                    <input type="number" min="1" max="10" id=m2>
                    <abbr id="height-ft" name="feet"><span style="color:red">*</span>ft</abbr>
                    <input type="number" min="0" max="12" id=m3>
                    <abbr id="height-in" name="inches">in</abbr>
                </span>
                <span style="padding-left:1em">
                    <strong><span style="color:red">*</span>age</strong>
                    <input type="number" min="1" max="100" id=m4>
                </span>
            </div>
            <br>
            <div>
                <span>
                    <strong><span style="color:red">*</span>Gender</strong>
                    <input type="radio" name="gender" value="M"  id=r3>
                    <label for="r3">male</label>
                    <input type="radio" name="gender" value="F"  id=r4>
                    <label for="r4">female</label>
                </span>
            </div>
        </fieldset>
        <fieldset style="border-bottom-width:0px;">
            <div>

                <span>
                    <img src="#" id="img1"border="0" alt="activity" height="100" width="100" style="display:none;padding: 5px"  />
                    <strong><span style="color:red">*</span>Activity</strong>
                    <select class="choose" placeholder="select an activity" id=r5>
                        <option value="" disabled selected>choose an activity</option>
                        <option value="16">Run</option>
                        <option value="9">Walk</option>
                        <option value="11">Bike</option>
                        <option value="12">Gym workout</option>
                    </select>
                </span>
                <span style="padding-left:1em">
                    <strong><span style="color:red">*</span>Distance</strong>
                    <input type="number" min="0" max="1000" id=m5>
                    <abbr><span style="color:red">*</span>miles</abbr>
                </span>
            </div>
            <br>
            <div>
                <strong><span style="color:red">*</span>Duration</strong>
                <input type="number" min="0" max="24" placeholder="hh" id=m6>:
                <input type="number" min="0" max="59" placeholder="mm" id=m7>:
                <input type="number" min="0" max="59" placeholder="ss" id=m8>
            </div>
        </fieldset>
        <fieldset>
            <div >
                <p>{{a14}}</p>
                <span>calories burned</span>
            </div>
        </fieldset>
        </form>
    <div style="padding-left: 440px;">
        <button id="btn"ng-click="workout()">workout</button>
    </div>
</div>
<div id="Recepie" class="tabcontent" data-ng-controller="FoodCalorie">
    <center>
        <div ><h1 class="text-center" style="color: #496ebc"> SEARCH FOR A RECIPE </h1></div><br><BR>
        <div>
            <div class="form-inline" >
                <input type="text" style="width:400px;" class="form-control" name="recepie" placeholder="Enter an item.." data-ng-model="recepie">
                <button name="recepie" class="btn btn-primary" style="width:250px;" data-ng-click="getRecepies()">Search</button>
            </div> <div><br><br>

            <div class="row">
                <div class="col-sm-5">
                    <h2 style="color:#d9534f;">{{label[0]}}</h2></div>
                <div class="col-sm-5"> <h3 id="l1" style="color:#5cb85c;display:none;">Calories:{{label2[0]}}</h3>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 id="l2" style="color:#428bca;display:none;">INGREDIENTS</h4>
                    <li style="center:none;" data-ng-repeat="x in label1[0]">{{x}}</li><br>
                    <h4>  <a href="{{label4[0]}}" id="l3" style="display:none;">Instructions For Recipe</a></h4></div>

                <div class="col-sm-5">     <img class="img-responsive"  width="270" height="230"; src="{{label3[0]}}"></div>
            </div>
        </div><br><br>
            <div>

                <div class="row">
                    <div class="col-sm-5">
                        <h2 style="color:#d9534f;">{{label[1]}}</h2></div>
                    <div class="col-sm-5"> <h3 id="l4" style="color:#5cb85c;display:none">Calories:{{label2[1]}}</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h4 id="l5" style="color:#428bca;display:none;"> INGREDIENTS</h4> <li data-ng-repeat="x in label1[1]">{{x}}</li><br>
                        <h4>  <a href="{{label4[1]}}" id="l6" style="display:none;">Instructions For Recipe</a></h4></div>


                    <div class="col-sm-5">     <img class="img-responsive"  width="270" height="230"; src="{{label3[1]}}"></div>
                </div>
            </div> <br><br>
            <div>

                <div class="row">
                    <div class="col-sm-5">
                        <h2 style="color:#d9534f;">{{label[2]}}</h2></div>
                    <div class="col-sm-5"> <h3 id="l7" style="color:#5cb85c;display:none">Calories:{{label2[2]}}</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h4 id="l8" style="color:#428bca;display:none;"> INGREDIENTS</h4> <li data-ng-repeat="x in label1[2]">{{x}}</li><br>
                        <h4>  <a href="{{label4[2]}}"id="l9" style="display:none;">Instructions For Recipe</a></h4></div>


                    <div class="col-sm-5">     <img class="img-responsive"  width="270" height="230"; src="{{label3[2]}}"></div>
                </div>
            </div>
            <div>

                <div class="row">
                    <div class="col-sm-5">
                        <h2 style="color:#d9534f;">{{label[3]}}</h2></div>
                    <div class="col-sm-5"> <h3 id="l10" style="color:#5cb85c;display:none">Calories:{{label2[3]}}</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <h4 id="l11" style="color:#428bca;display: none;"> INGREDIENTS</h4> <li data-ng-repeat="x in label1[3]">{{x}}</li><br>
                        <h4>  <a href="{{label4[3]}}" id="l12" style="display:none";>Instructions For Recipe</a></h4></div>


                    <div class="col-sm-5">     <img class="img-responsive"  width="270" height="230"; src="{{label3[3]}}"></div>
                </div>
            </div> <br><br>

        </div>




        <br><br><br><br><br><br><br>

    </center>


</div>
<div id="GYM" class="tabcontent" data-ng-controller="FoodCalorie" style="background-color:#F7F7F7;">

    <div class="menu" id="div_SearchContainer">
        <h1 align="absolute" style="text-align: center; color: #5cb85c">Search for the GYM's  near by</h1>
        <input type="text" id="txt_placeName" placeholder="Enter the place you want to search" style="margin-left: 400px ;margin-right:20px;"/>
        <button id="btn_getReview" ng-click="getVenues()">Get Venues</button>
    </div>
    <div id="div_VenueList">
        <img src="https://d13yacurqjgara.cloudfront.net/users/576057/screenshots/2367607/48_animations_dribbble.gif" id="img2"border="0" alt="activity" height="300" width="410" style="padding-top:70px;margin-left:450px;"  />

        <ul>
            <li ng-repeat="x in results" style="font-size: 23px; color: #000; text-align: center; list-style: none; list-style-position:inside;">

            </li>
        </ul>

    </div>
</div>

<script>
    function move() {
       self.location = "Login.html";

    }
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
</html>
<style>
    #btn {
        background-color:#428bca;
        -moz-border-radius:0px;
        -webkit-border-radius:0px;
        border-radius:0px;
        border:1px solid #428bca;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
        height: 30px;

    }
    #btn:active {
        position:relative;
        top:1px;
    }
    .menu input{
        width: 290px;
        background: transparent;
        border: 2px solid #428bca;
        border-radius: 4px;
        color: #5e5e5e;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 10px;
        margin-top: 10px;
    }
    .menu button{
        width: 180px;
        height:40px;
        background:#428bca;
        border:  2px solid #ffffff;
        cursor: pointer;
        border-radius: 4px;
        color: #ffffff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 6px;
        margin-top: 10px;
    }

    caption {
        font-size: 1.6em;
        font-weight: 400;
        padding: 10px 0;
    }

</style>



